An array can hold many values under a single name, and we can access the values by referring to an index number.

## List
Lists store items that are of various data types. This means that a list can contain integers, floating point numbers, strings, or any other Python data type, at the same time. That is not the case with arrays.

In [16]:
cars = ["Ford", "Volvo", "BMW"]

In [17]:
# Finding the first element of the list 
cars[0]

'Ford'

In [18]:
# Changing second element value 
cars[1] = "Corola"
cars

['Ford', 'Corola', 'BMW']

In [19]:
# Size of the list 
len(cars)

3

In [20]:
# Looping array elements
for i in cars:
    print(i)

Ford
Corola
BMW

In [24]:
# Adding array elements
cars.append("Premiyo")
cars

['Ford', 'Corola', 'Premiyo']

In [25]:
# removing last array elements
cars.pop()
cars

['Ford', 'Corola']

In [26]:
# Adding array elements
cars.append("Premiyo")
cars

['Ford', 'Corola', 'Premiyo']

In [27]:
# removing any value by index number in array elements
# for example removing 2nd element
cars.pop(1)
cars

['Ford', 'Premiyo']

In [28]:
# Adding array elements
cars.append("Corola")
cars

['Ford', 'Premiyo', 'Corola']

In [29]:
# we can also remove by value 
cars.remove('Corola')
cars

['Ford', 'Premiyo']

In [30]:
# we can insert value in any position 
# for example we insert value in 2nd position 
cars.insert(1,"Corola")
cars

['Ford', 'Corola', 'Premiyo']

In [31]:
# Removes all the elements from the list
cars.clear()
cars

[]

In [35]:
# Returns a copy of the list
cars = ["Ford", "Volvo", "BMW"]
cars2 = cars.copy()
cars[0] = "SSSD"
print(cars)
print(cars2)

['SSSD', 'Volvo', 'BMW']
['Ford', 'Volvo', 'BMW']

In [38]:
# Add the elements of a list (or any iterable), to the end of the current list
cars.extend(cars2)
cars

['SSSD', 'Volvo', 'BMW', 'Ford', 'Volvo', 'BMW']

In [40]:
# Returns the number of elements with the specified value
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
points.count(9)

2

In [41]:
# Returns the index of the element
cars.index('BMW')

2

In [46]:
cars

['SSSD', 'Volvo', 'BMW', 'Ford', 'Volvo', 'BMW']

In [47]:
# Reverses the order of the list
cars.reverse()
cars

['BMW', 'Volvo', 'Ford', 'BMW', 'Volvo', 'SSSD']

In [48]:
points

[1, 4, 2, 9, 7, 8, 9, 3, 1]

In [50]:
# Sorts the list
points.sort()
points

[1, 1, 2, 3, 4, 7, 8, 9, 9]

## Array
The most important thing to remember about Python arrays that they can only hold a sequence of multiple items that are of the same type.They are also more compact and take up less memory and space which makes them more size efficient compared to lists.

In [51]:
# Define an array 
from array import *
variable = array("i",[10,20,30]) # "i" is the symbol of typecode 
variable

array('i', [10, 20, 30])

<table>
  <tr>
    <th>TYPECODE</th>
    <th>C TYPE</th>
    <th>PYTHON TYPE</th>
    <th>SIZE</th>
  </tr>
  <tr>
    <td>'b'</td>
    <td>signed char</td>
    <td>int</td>
    <td>1</td>
  </tr>
  <tr>
    <td>'B'</td>
    <td>unsigned char</td>
    <td>int</td>
    <td>1</td>
  </tr>
  <tr>
    <td>'u'</td>
    <td>wchar_t</td>
    <td>str</td>
    <td>2</td>
  </tr>
  <tr>
    <td>'h'</td>
    <td>signed short</td>
    <td>int</td>
    <td>2</td>
  </tr>
  <tr>
    <td>'H'</td>
    <td>unsigned short</td>
    <td>int</td>
    <td>2</td>
  </tr>
  <tr>
    <td>'i'</td>
    <td>signed int</td>
    <td>int</td>
    <td>2</td>
  </tr>
  <tr>
    <td>'I'</td>
    <td>unsigned int</td>
    <td>int</td>
    <td>2</td>
  </tr>
  <tr>
    <td>'l'</td>
    <td>signed long</td>
    <td>int</td>
    <td>4</td>
  </tr>
  <tr>
    <td>'L'</td>
    <td>unsigned long</td>
    <td>int</td>
    <td>4</td>
  </tr>
  <tr>
    <td>'q'</td>
    <td>signed long long</td>
    <td>int</td>
    <td>8</td>
  </tr>
  <tr>
    <td>'Q'</td>
    <td>unsigned long long</td>
    <td>int</td>
    <td>8</td>
  </tr>
  <tr>
    <td>'f'</td>
    <td>float</td>
    <td>float</td>
    <td>4</td>
  </tr>
  <tr>
    <td>'d'</td>
    <td>double</td>
    <td>float</td>
    <td>8</td>
  </tr>
</table>

If we tried to include values that were not of i typecode, meaning they were not integer values then we would get an error:

In [52]:
from array import *

#an array of floating point values
numbers = array('i',[10.0,20.0,30.0])

print(numbers)

TypeError: integer argument expected, got float

In [53]:
from array import *

#an array of floating point values
numbers = array('d',[10.0,20.0,30.0])

print(numbers)

array('d', [10.0, 20.0, 30.0])

In [54]:
variable

array('i', [10, 20, 30])

In [56]:
#  total number of elements in the array
len(variable)

3

In [57]:
# Access individual element
variable[1]

20

In [58]:
variable[-2]

20

In [59]:
#  Find an element's index number
variable.index(20)

1

If there is more than one element with the same value, the index of the first instance of the value will be returned:

In [60]:
import array as arr 

numbers = arr.array('i',[10,20,30,10,20,30])

#search for the index of the value 10
#will return the index number of the first instance of the value 10
print(numbers.index(10))

0

In [61]:
#  print each value one by one
for i in numbers:
    print(i)

10
20
30
10
20
30

In [62]:
# Change the Value of an Item
numbers[0] = 11
numbers

array('i', [11, 20, 30, 10, 20, 30])

In [63]:
# Add a New Value to an Array
numbers.append(12)
numbers

array('i', [11, 20, 30, 10, 20, 30, 12])

So ever