In [1]:
# Assign String to a Variable
a = "Hello"
a

'Hello'

In [5]:
# Multiline Strings
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,'''
b = """Sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print("First String: "+ a)
print("Second String: "+ b)

First String: Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
Second String: Sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Python does not have a character data type, a single character is simply a string with a length of 1.

In [6]:
a = "Hello"
a[0]

'H'

In [7]:
# Looping Through a String
for i in a:
    print(i)

H
e
l
l
o

In [8]:
# String Length  
len(a)

5

In [9]:
# Check String
txt = "The best things in life are free!"
"free" in txt

True

In [10]:
"IN" in txt

False

In [14]:
txt.upper()

'THE BEST THINGS IN LIFE ARE FREE!'

In [12]:
"IN" in txt.upper()

True

In [15]:
# Check if NOT
"IN" not in txt

True

In [40]:
# Return Versity
b = "University"
b[3:].capitalize()

'Versity'

In [21]:
# Upper Case
a = "University"
a.upper()

'UNIVERSITY'

In [22]:
# Lower Case
a = 'UNIVERSITY'
a.lower()

'university'

In [64]:
# Removes any whitespace from the beginning or the end
a = " Hello World  "
a.strip()

'Hello World'

In [65]:
# Removes any whitespace from the leftside
a.lstrip()

'Hello World  '

In [66]:
# Removes any whitespace from the rightside
a.rstrip()

' Hello World'

In [27]:
# replaces a string with another string:
a = "Hi bro"
a[0] = "O"
a

TypeError: 'str' object does not support item assignment

In [28]:
a.replace("H","O")

'Oi bro'

In [30]:
a = "Hi broo"
a.replace("o","I")

'Hi brII'

In [32]:
# Splits the string into substrings if it finds instances of the separator
a = "Hello, World!"
a.split(",")

['Hello', ' World!']

In [33]:
a = "Hi#Love#You#Are#My#World!"
a.split("#")

['Hi', 'Love', 'You', 'Are', 'My', 'World!']

In [35]:
# String Concatenation
a = "Hello"
b = " World"
c = a + b
c

'Hello World'

In [36]:
# We can combine strings and numbers by using the format() method!
age = 36
txt = "My name is John, I am {} "
txt.format(age)

'My name is John, I am 36 '

In [37]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [38]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [39]:
# Escape character
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [47]:
# Returns the number of times a specified value occurs in a string
a = "Hello"
a.count('l')

2

In [48]:
# Returns true if the string ends with the specified value
a = "Hello World"
a.endswith('World')

True

In [50]:
# Searches the string for a specified value and returns the position of where it was found
a  =  "Hello World"
a.find('World')

6

In [52]:
# Searches the string for a specified value and returns the position of where it was found
a.index('World')

6

In [53]:
a = " Hello "
a.isspace()

False

In [60]:
# Joins the elements of an iterable to the end of the string
a = ["apple", "banana", "orange"]

" ".join(a)

'apple banana orange'

In [61]:
"#".join(a)

'apple#banana#orange'

In [63]:
# Returns a left justified version of the string
txt = "banana"

x = txt.ljust(10)

print(x, "is my favorite fruit.")

banana     is my favorite fruit.

In [69]:
# Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
txt.partition('bananas')

('I could eat ', 'bananas', ' all day')